@page "/"

<PageTitle>Index</PageTitle>

<h1 style="font-size: 70px;">Hello.</h1>

<h6 style="font-size: 50px;">Welcome to your new app.</h6>

<h3>Enter ConnectionString in the "Open" section.</h3>

<button class="menu-button" onclick="location.href='/Open'">Open</button>



<style>
    h3 {
        display: inline-block;
        margin-right: 10px;
        font-size: 32px; /* H3 tegi kattaligi */
    }

    .menu-button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 15px 30px; /* Tugma kattaligi */
        font-size: 24px; /* Tugma matni kattaligi */
        cursor: pointer;
        border-radius: 5px;
    }

        .menu-button:hover {
            background-color: #0056b3;
        }
</style>


